= render :partial => 'search_form', locals: { search_params: @search_params }

%h1 Search Results

- if @cats.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th Type
        %th Price
        %th Location
        %th Image
    %tbody
      - @cats.each do |cat|
        %tr.cat
          %td= cat[:type]
          %td
            = cat[:price]
            - if cat[:price] == @best_offer[:price]
              %span.badge.badge-success Best Price!
          %td= cat[:location]
          %td= rescue_broken_image_tag(cat[:image])
- else
  .h4 Sorry, we could not find any cats 😿. Try searching for a different type or location.
